<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Governance Portal</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
       
        <nav>
            <div id="flag"><img src="https://www.tourism.gov.np/web/img/nepal-flag.gif"></div> 
            <div id="heading" >
            <h1>Welcome to E-Governance Portal</h1>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'services' %}">Services</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                
            </ul>
           </div>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 E-Governance Portal</p>
    </footer>
</body>
</html>
