{% extends "base.html" %}
{% block content %}
<div id="head-content">
<p id="intro">Welcome to the E-Governance portal. We provide easy access to government data, track public projects, 
    monitor spending, and facilitate citizen engagement. Empower yourself with transparent, accessible 
    information and connect seamlessly with your government. Explore, engage, and stay informed with us. 
    Here you can find various government services and information.</p>
<div id="head-flag"><img src="https://www.tourism.gov.np/web/img/nepal-flag.gif"></div>
</div>

<span><h1>Government Useful Websites </h1> </span>
<div class="flex-container">
    <div><a href="https://applydlnew.dotm.gov.np/login"><p>Driving Licence Online Form</p></a></div>
    <div><a href="https://nepaltradeportal.gov.np/register-pan/vat"><p>Register PAN/VAT</p></a></div>
    <div><a href="http://online.nepalimmigration.gov.np/tourist-visa"><p>Department of Immigration</p></a></div>
    {% comment %} <div><a href="#">Link</a></div>
    <div><a href="#">Link</a></div>
    <div><a href="#">Link</a></div> {% endcomment %}
  </div>
{% endblock %}
