{% extends "base.html" %}
{% block content %}

</style>

<h2>TU Notices </h2>

 <div class="Notices" style="display:flex; flex-direction:row; width=100%;">
    <div style='width:50%%' >
    <table border="1" style='width:100%;' >
        <tr>
            <th>Dates</th>
            <th>Topics</th>
        </tr>
        {% for row in data %}
        <tr>
            <td> {{row.tDate}} </td>
            <td><a href="{{ row.tLink }}" target="iframeContainer">{{ row.tTopic}}</a></td>
            
        </tr>
        {% endfor %}
       
    </table>
    </div>
    <div style='width:50%;'> <iframe id="iframe" name="iframeContainer" width="100%;" height="600px"></iframe> </div>
</div>

    {% endblock %}